<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @video.code %>
</p>

<p>
  <strong>Sala:</strong>
  <%= @video.sala_id %>
</p>

<%= link_to 'Edit', edit_sala_video_path(@video) %> |
<%= link_to 'Back', salas_path %>
