<div class="container">
<h1>Editar Sala</h1>
<%= form_for :sala, url: sala_path(@sala), method: :patch do |f| %>
	<% if @sala.errors.any? %>
		<% @sala.errors.full_messages.each do |msg| %>
			<div class="alert alert-danger"><%= msg %></div>
		<% end %>
	<% end %>

	<p>
		<%= f.label :nome %><br>
		<%= f.text_field(:title, {:class => 'form-control'}) %>
	</p>
	<p>
		<%= f.submit("Salvar", {:class => 'btn btn-primary'}) %>
	</p>
<% end %>
</div>